body {
  background-image: url('images/metal.jpg');
}

#viewport {
  width: 1024px;
  height: 768px;
  position: relative;
  margin: 0 auto;
  background-image: url('images/background.png');
  box-shadow: 10px 10px 20px black;
}

#backdrop, #ui, #overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#ui {
  background-image: url('images/frame.png');
}

#ui .button {
  cursor: pointer;
}

#button-left {
  position: absolute;
  left: 423px;
  top: 696px;
  width: 31px;
  height: 60px;
}

#button-right {
  position: absolute;
  left: 577px;
  top: 696px;
  width: 31px;
  height: 60px;
}

#button-forward {
  position: absolute;
  left: 474px;
  top: 683px;
  width: 76px;
  height: 65px;
}

#button-left { background-image: url('images/left.png') }
#button-left:hover { background-image: url('images/left-hover.png') }
#button-left:active { background-image: url('images/left-active.png') }

#button-right { background-image: url('images/right.png') }
#button-right:hover { background-image: url('images/right-hover.png') }
#button-right:active { background-image: url('images/right-active.png') }

#button-forward { background-image: url('images/forward.png') }
#button-forward:hover { background-image: url('images/forward-hover.png') }
#button-forward:active { background-image: url('images/forward-active.png') }

#overlay {
  display: none;
}

.success #overlay {
  display: block;
  background-image: url('images/overlay-success.png');
}

.gameover #overlay {
  display: block;
  background-image: url('images/overlay-gameover.png');
}

.title #overlay {
  display: block;
  background-image: url('images/overlay-title.png');
}
