body {
  background-color: #222;
  color: #666;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}

.track {
  height: 100vh;
  max-height: 1280px;
  box-sizing: border-box;
  padding: 20px 10px;
  white-space: nowrap;
}

figure {
  display: inline-block;
  margin: 0 10px;
  height: 100%;
  position: relative;
  vertical-align: bottom;
}

figure img {
  display: block;
  height: 100%;
  width: auto;
}

figure figcaption {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
}

.info img {
  height: 60%;
  margin: 15%;
  max-height: 60vw;
}

.social-links {
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.4em;
}
